<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Django | Simple CRUD Application | Add User</title>
  </head>
  <body>
    <h1>Simple CRUD | Add User</h1>

    <a href="/home">Home</a>
	<br/>
	<br/>	
	<form action="/adduser/" method="post" name="adduserform" id="adduserform">
		{% csrf_token %}
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td width="10%">First name</td>
				<td><input type="text" name="first_name" id="first_name" style="width:190px"/></td>
			</tr>
			
			<tr><td colspan="2" height="10px"></td></tr>
			
			<tr>
				<td width="10%">Last name</td>
				<td><input type="text" name="last_name" id="last_name" style="width:190px"/></td>
			</tr>
			
			<tr><td colspan="2" height="10px"></td></tr>
		
			<tr>
				<td width="10%">Phone</td>
				<td><input type="text" name="phone" id="phone" style="width:190px"/></td>
			</tr>
			
			<tr><td colspan="2" height="10px"></td></tr>
		
			<tr>
				<td></td>
				<td><input type="SUBMIT" name="btnSubmit" id="btnSubmit" value="Add User"/></td>
			</tr>
			
		
		</table>
	</form>
	
  </body>
</html>
